<div  class="container" *ngIf="users">
  <div class="card">
    <div class="card-header">
      {{users.name}}
<small>({{users.login}})</small>
    </div>
    <div class="row">

    <div class="card-body">
      <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4">
          <img src="{{users.avatar_url}}" width="460" height="345" class="rounded-circle img-fluid">
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" ><h5>
              <span class="badge badge-primary" style="margin:6px;" >{{users.followers}} Followers</span>
              <span class="badge badge-primary" style="margin:6px;">Follows: {{users.followers}}</span>
              <!-- <span class="badge badge-success">{{users.public_gists}} Public gists</span> -->
              <span class="badge badge-success" style="margin:6px;">{{users.public_repos}} Public Repos</span>

            </h5></li>

            <li class="list-group-item" *ngIf="users.bio">{{users.bio}}</li>
            <li class="list-group-item" *ngIf="users.bio"> Works at {{users.company}}</li>
            <li class="list-group-item" *ngIf="users.bio">Available for hire</li>
            <!-- <li class="list-group-item" *ngIf="users.followers">Followed by {{users.followers}} Github users</li> -->
            <li class="list-group-item" *ngIf="users.location">Currently lives in {{users.location}}</li>
            <li class="list-group-item" *ngIf="users.email"><a target="_blank" href="emailto:{{users.email}}">{{users.email}}</a></li>
            <li class="list-group-item badge"  *ngIf="users.html_url"><a target="_blank" href="{{users.html_url}}">View profile on Github</a></li>
            <!-- <li><span class="badge badge-primary" style="margin:6px;"><a href="{{users.html_url}}">View on Github</a></span>
</li> -->


          </ul>
        </div>
        <!-- <div class="sm-4">
          <div>
            <p>
              <span class="badge badge-primary">{{users.followers}} Followers</span>
              <span class="badge badge-primary">Follows: {{users.followers}}</span>
              <span class="badge badge-success">{{users.public_gists}} Public gists</span>
              <span class="badge badge-success">{{users.public_repos}} Public Repos</span>

            </p>
          </div>
        </div> -->
      </div>
    </div>

  </div>

</div>
</div>
