<div *ngIf="users">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{users.name}}
<br>
<small>{{users.login}}</small>
<br>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{users.avatar_url}}" width="460" height="345" class="rounded-circle img-fluid">
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="users.bio">{{users.bio}}</li>
            <li class="list-group-item" *ngIf="users.bio"> Works at {{users.company}}</li>
            <li class="list-group-item" *ngIf="users.bio">Available for hire</li>
            <li class="list-group-item" *ngIf="users.followers">Followed by {{users.followers}} Github users</li>
            <li class="list-group-item" *ngIf="users.location">Currently lives in {{users.location}}</li>
            <li class="list-group-item" *ngIf="users.email"><a target="_blank" href="emailto:{{users.email}}">{{users.email}}</a></li>


          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
